Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.pdb
*.mdb
.vs/
.vscode/
.DS_Store
Thumbs.db
node_modules/
.idea/
/[Pp]ackages/*
!package.json
!README.md
!LICENSE
